<div class="container panel-container">
  <div class="row">
    <div class="col-sm-12 mail-subject">
      <img width="32" height="32" src="<%= portrait_url(:character, @mail[:from], 32) %>">
      <span>Subject: <%= @mail[:subject] %></span>
    </div>
  </div>
  <div class="row">
    <div class="panel-container">
      <p class="mail-body">
        <%= raw strip_links(@mail[:body]) %>
      </p>
    </div>
  </div>
</div>