<div class="container panel-container">
  <div class="row">
    <div class="col-sm-12 mail-subject">
      <span>Subject: <%= @mail[:subject] %></span>
      <%= link_to 'Back', profile_path, class: 'btn btn-sm btn-primary action-link pull-right' %>
    </div>
  </div>
  <div class="row">
    <div class="panel-container">
      <p class="mail-body">
        <%= raw strip_links(@mail[:body]) %>
      </p>
    </div>
  </div>
</div>