<div class="row">
  <table class="table fuschia_table">
    <thead class="thead-dark">
    <tr>
      <th width="5%" scope="col">#</th>
      <th class="text-left" width="75%" scope="col">Name</th>
      <th width="20%" scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td class="text-left" >
          <img src="https://imageserver.eveonline.com/Character/<%= user.character_id %>_32.jpg" style="height: 32px; width: 32px;">
          <%= user.name %>
        </td>
        <td>
          <%= link_to 'View', user, class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end  %>
    </tbody>
  </table>
</div>