<div class="container">
  <div class="row">
    <div class="welcome-container">
      <h2 class="col-sm-offset-2 col-sm-4">Welcome to Fuschia Fleet</h2>
      <p class="col-sm-4">
        Bear raiding, drinking vodka and squishing bees.
      </p>
    </div>
  </div>
</div>