<div class="container">
  <div class="row">
    <div class="col-sm-12 bear-drinking-container">
      <div class="col-sm-6">
        <%= image_tag('bear-drinking.png', alt: 'Bear Drinking') %>
      </div>
      <div class="col-sm-6">
        <h2>Welcome to Fuschia Fleet</h2>
        <p>
          Bear raiding, drinking vodka and squishing bees.
        </p>
      </div>
    </div>
  </div>
</div>