// Place all the styles related to the Reimbursement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.reimbursement_table {
  thead {
    color: $white1;
    th {
      text-align: center;
    }
  }

  tbody {
    color: $white1;
    tr {
      text-align: center;
    }
  }
}