// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.erb.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-container {
  color: $white1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.welcome-container {
  h2 {

  }
  p {
    margin-top: 27px;
  }
}

.join-us-btn {
  input {
    margin-top: -100px;
  }
}
