// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bear-drinking-container {
  margin-top: 25px;
}

.bear-drinking-container img {
  width: 500px;
  height: 600px;
}