// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.erb.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bear-drinking-container {
  margin-top: 25px;
}

.bear-drinking-container img {
  width: 70%;
  height: 100%;
}