<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', reimbursements_path, class: 'btn btn-sm btn-primary action-link' %>
    <%= render 'form', reimbursement: @reimbursement %>
  </div>
</div>
